@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Druckertest für die Filialen</h1>
    <h4 class="display-6"> <p class="text-danger"> Fahrrad XXL <i class="fas fa-bicycle"></i> </h4>
</div>
